@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);

    /* Custom colours */
    --color-p-cyan-700: var(--p-cyan-700);
    --color-p-cyan-600: var(--p-cyan-600);
    --color-p-cyan-500: var(--p-cyan-500);
    --color-p-blue-100: var(--p-blue-100);
    --color-p-warning: var(--p-warning);
    --color-p-danger: var(--p-danger);
    --color-p-success: var(--p-success);

    /* Custom Gradients */
    --background-image-primary-gradient: linear-gradient(to top, var(--p-blue-100), var(--primary));

    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #ffffff;
    --foreground: #222224;
    --card: #ffffff;
    --card-foreground: #222224;
    --popover: #ffffff;
    --popover-foreground: #222224;
    --primary: #4958e3;
    --primary-foreground: #f2f5fc;
    --secondary: #f6f6f8;
    --secondary-foreground: #343438;
    --muted: #f2f4f5;
    --muted-foreground: #818a94;
    --accent: #4958e3;
    --accent-foreground: #f2f5fc;
    --destructive: #de282b;
    --border: #e3e6e8;
    --input: #e3e6e8;
    --ring: #b0b6bc;
    --chart-1: #cdd2d8;
    --chart-2: #818a94;
    --chart-3: #626a73;
    --chart-4: #4e555d;
    --chart-5: #373b41;
    --radius: 0.625rem;
    --sidebar: #fcfcfc;
    --sidebar-foreground: #222224;
    --sidebar-primary: #1e66f5;
    --sidebar-primary-foreground: #f2f5fc;
    --sidebar-accent: #f2f4f5;
    --sidebar-accent-foreground: #31353c;
    --sidebar-border: #e3e6e8;
    --sidebar-ring: #b0b6bc;

    /* Custom variables in root */
    --p-cyan-700: #134574;
    --p-cyan-600: #336b87;
    --p-cyan-500: #316aa1;
    --p-blue-100: #57a0fd;
    --p-warning: #ffce2d;
    --p-danger: #ff5f3c;
    --p-success: #a4cb3a;
}

.dark {
    --background: #222224;
    --foreground: #fcfcfc;
    --card: #31353c;
    --card-foreground: #fcfcfc;
    --popover: #31353c;
    --popover-foreground: #fcfcfc;
    --primary: #003cc2;
    --primary-foreground: #f2f5fc;
    --secondary: #424247;
    --secondary-foreground: #fcfcfc;
    --muted: #373b41;
    --muted-foreground: #b0b6bc;
    --accent: #003cc2;
    --accent-foreground: #f2f5fc;
    --destructive: #ff6e65;
    --border: #ffffff1a;
    --input: #ffffff26;
    --ring: #818a94;
    --chart-1: #cdd2d8;
    --chart-2: #818a94;
    --chart-3: #626a73;
    --chart-4: #4e555d;
    --chart-5: #373b41;
    --sidebar: #31353c;
    --sidebar-foreground: #fcfcfc;
    --sidebar-primary: #458cf5;
    --sidebar-primary-foreground: #f2f5fc;
    --sidebar-accent: #373b41;
    --sidebar-accent-foreground: #fcfcfc;
    --sidebar-border: #ffffff1a;
    --sidebar-ring: #818a94;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
    }
  html {
    @apply font-sans;
    }
}
